* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQizBEo24PMeBex3fVVHm8nflgIU-4Kr29WMw&s");
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(0, 0, 0);
}
.con {
  width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}
.amina {
  display: flex;
  flex-wrap: wrap;
}
.k {
  width: 500px;
  background-color: rgb(198, 158, 235);
  color: black;
  height: 400px;
  padding: 15px;
  padding-top: 100px;
  border-radius: 8px;
}
.btn-two {
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.site-box {
  border-radius: 8px;
  margin-bottom: 50px;
}
.top {
  margin-top: 100px;
}
.site-two {
  padding: 10px;
  color: black;
  border-radius: 8px;
}
.b {
  background-color: rgb(255, 255, 255);
}
.site-login {
  text-decoration-line: none;
  font-size: 24px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding-left: 200px;
}
button {
  border: none;
}
.btn {
  border: none;
  padding: 5px;
  background-color: rgb(244, 99, 242);
  border-radius: 5px;
}
.card {
  width: 200px;
  background-color: white;
  padding: 10px;
}
.q {
  margin-bottom: 50px;
}
.w {
  margin-top: 100px;
  margin-bottom: 80px;
}
.sate-img {
  margin-left: o;
  border-radius: 10px;
}
.box {
  width: 1180px;
  display: flex;
}
.mini {
  margin-top: 150px;
  margin-left: 100px;
}
