* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: rgb(239, 128, 187);
  color: rgb(0, 0, 0);
}
.con {
  width: 1180px;
  margin: 0 auto;
  padding: 0 20px;
}
.amina {
  display: flex;
  flex-wrap: wrap;
}
.k {
  width: 500px;
  background-color: rgb(198, 158, 235);
  color: black;
  height: 400px;
  padding: 15px;
  padding-top: 100px;
  border-radius: 8px;
}
.btn-two {
  border-radius: 8px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
}
.site-box {
  border-radius: 8px;
  margin-bottom: 50px;
}
.top {
  margin-top: 100px;
}
.site-two {
  padding: 10px;
  color: black;
  border-radius: 8px;
}
.site-logo {
  background-color: rgb(239, 128, 187);
  color: rgb(0, 0, 0);
  display: flex;
  text-decoration-line: none;
}
.site-loo {
  display: flex;
  background-color: rgb(239, 128, 187);
  text-decoration-line: none;
  color: rgb(0, 0, 0);
  margin-left: 100px;
  margin-right: 80px;
}
.site-log {
  text-decoration-line: none;
  background-color: rgb(239, 128, 187);
  color: rgb(0, 0, 0);
  margin-left: 100px;
  margin-right: 100px;
}
.b {
  background-color: rgb(239, 128, 187);
}
.site-login {
  text-decoration-line: none;
  background-color: rgb(239, 128, 187);
  color: rgb(0, 0, 0);
  padding-left: 200px;
}
button {
  border: none;
}
.btn {
  border: none;
  background-color: yellow;
  border-radius: 5px;
}
.card {
  width: 200px;
  background-color: white;
  padding: 10px;
}
.q {
  margin-bottom: 50px;
}
.w {
  margin-top: 100px;
  margin-bottom: 80px;
}
.sate-img {
  margin-left: o;
  border-radius: 10px;
}
.box {
  width: 1180px;
  display: flex;
}
.mini {
  margin-top: 150px;
  margin-left: 100px;
}
